/*
.add-new-card,
.board {
    background-color: lightgrey;
}

.add-new-card,
.board {
    background-color: rgb(82, 122, 146);
}

.add-new-card,
.board {
    background-color: rgb(95, 52, 77);
}

.add-new-card,
.board {
    background-color: rgb(255, 178, 133);
}

.add-new-card,
.board {
    background-color: rgb(169, 236, 253);
}

.add-new-card,
.board {
    background-color: rgb(53, 138, 117);
}

*/ 
